apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- rollout.yaml
- service.yaml
- preview-service.yaml
images:
- name: leonrahul/userservice
  newName: leonrahul/userservice
  newTag: 9c65f0d
